* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: monospace;
  font-size: 14pt;
  background: url("travaux eleves/DSCF6493.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

header {
  background: url("cross.png");
  padding: 0 0 2em 0;
}

header h1 {
  width: 960px;
  padding: 0.33em 0 0em 0;
  margin: 0 auto 0 auto;
  color: white;
  font-family: 'Governor';
  font-size: 79pt;
  /*text-shadow: 
      1px 1px 0 black,
      1px -1px 0 black,
      -1px -1px 0 black,
      -1px 1px 0 black;*/
}

header .subtitle {
  margin: 0 auto 0 auto;
  width: 960px;
  font-size: 14pt;
  background: white;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 4px;
}

nav {
  margin-top: -12pt;
}

nav ul {
  padding-left: 0.5em;
  background: white;
  text-transform: uppercase;
  font-family: 'Governor';
  width: 960px;
  margin: 0 auto 0 auto;
}

nav li {
  font-size: 17pt;
  display: inline-block;
  padding: 0.2em 0 0.1em 0;
  margin-right: 0.1em;
  color: grey;
  border-bottom: 3px solid white;
}

nav li:hover {
  border-bottom: 3px solid red;
  color: red;
  cursor: pointer;
}

ul.nav2 {
  display: inline-block;
  margin-left: 2em;
  margin-top: 5em;
}

ul.nav2 li {
  font-family: 'Governor';
  border-bottom: 4px solid black;
  margin: 0 0 0.33em 0;
  padding: 0.33em 0 0 0;
  cursor: pointer;
}

ul.nav2 li:hover,
ul.nav2 li.current {
  border-bottom: 4px solid red;
  color: red;
}

.icon-left-circle,
.icon-right-circle {
  font-size: 60pt;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  color: black;
}

.icon-left-circle {
  left: 0.5em;
}

.icon-right-circle {
  right: 0.5em;
}

.icon-right-circle:hover,
.icon-left-circle:hover {
  color: red;
}

.legende {
  /*  margin-left: -480px;
   position: absolute;
   bottom: 3%;
   left: 50%; */
  position: absolute;
  left: 2em;
  bottom: 2em;
  /* right: 2em; */
  padding: 0.67em;
  background: black;
  color: white;
  display: inline-block;
}

.legende div.info {
  display: inline-block;
}

.legende h2 {
  font-family: 'Governor';
  font-size: 18pt;
  /*         background: black;
          color: white; */
  display: inline-block;
}

.legende p {
  display: inline-block;
  /*         background: black;
          color: white; */
  /*         padding: 0.67em 0.33em 0.67em 0.33em; */
}

.legende span.reserver {
  border-radius: 4px;
  padding: 0.33em 0.67em 0.33em 0.67em;
  margin-top: 0.67em;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, top left, bottom left, from(#f9f9f9), to(#e9e9e9));
  background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  display: inline-block;
  color: #222222;
  font-weight: bold;
  font-style: normal;
  text-shadow: 1px 1px 0px #ffffff;
  cursor: pointer;
}

.legende span.reserver:hover {
  background: -webkit-gradient(linear, top left, bottom left, from(#e9e9e9), to(#f9f9f9));
  background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

.legende span.reserver:active {
  position: relative;
  top: 1px;
}