section#exposition {
	width: 960px;
	margin: 3em auto 3em auto;
	text-align: left;
	
	& > div {
		display: inline-block;
		vertical-align: text-top;
	
	}
	
	div.expo {
		width: 510px;
		margin-right: 40px;

		h3 {
			line-height: 1.2em;
		}

		p {
			text-align: justify;

			&.headline {
				font-size: 20pt;
				margin-top: 0;
				margin-bottom: 1.67em;
				line-height: 1.2em;

			}

			img {
				float: left;
				margin-right: 1.33em;
			}
		}
		
		hr {
			display: block;
			width: 60%;
			margin-left: auto;
			margin-right: auto;
			border-top: 1px solid $classy_blue_alpha;    
			border-bottom: 1px solid rgba(255,255,255, .1);
			border-left: 0;
			border-right: 0;
		}

		li {
			padding-left: 1.67em;
			font-style: italic;
		}
	}

	div.affiche {
		box-shadow: 0px 0px 5px #333333;
		width: 400px;
		



		&:before,
	    &:after {
	        content: "";  
	        display: block;   
	        position: absolute;  
	        top: 3px;
	        left: 3px;
	        right: 3px;
	        bottom: 3px;
	        z-index: 10;
	    }

	    &:before {  
	        border: 1px dashed $classy_blue;  
	    }

	    &:after {  
	        border: 1px dashed rgba(255,255,255, .1);   
	        margin: 1px;  
	        margin-left: 1px;  
	    }  

	    img {
			width: 100%;
			//opacity: 0.2;
		} 
	}
	
}