*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: 'adobe-garamond-pro', serif;
    font-size: 16pt;
    color: $classy_blue;
    text-align: center;
    line-height: 1.2em;
    
    &.fix-menu {
    	padding-top: 0;
    	header {
	        position: fixed;
	        top: 0;
	        width: 100%;
	        z-index: 1000;
	    }
	}

    p {
        margin: 0.67em auto 0.67em auto;
        //line-height: 1.2em;
    }

    h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20pt;
        margin: 1.67em 0 0.67em 0;
    }

    h4 {
        text-transform: uppercase;
        font-weight: bold;
        margin: 1.67em 0 0.67em 0;
    }

    a {
        color: $classy_blue;
    }

    strong {
        font-weight: bold;
    }
}