section#infospratiques {
	width: 960px;
	padding: 3em 0 3em 0;
	margin: 0 auto 0 auto;
	text-align: left;
	
	h3 {
		background: black;
		text-align: center;
		padding-top: 75px;
		padding-bottom: 75px;
		margin: 0;

		img {
			width: 253px;
			height: 130px;
		}
	}

	& > div {
		display: inline-block;
		vertical-align: text-top;

		&:first-child {
			width: 400px;
			margin-right: 75px;
		}

		& > div {
			display: inline-block;
			vertical-align: text-top;

			&:first-child {
				margin-right: 50px;
			}

			h4 {
				margin-top: 0;
			}
		}
	}
}