section.objets {
    overflow: hidden;

    div.loading {
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.80);
        text-transform: uppercase;
        font-size: 20pt;
        font-weight: bold;
        
        opacity: 0;

        transition-property: opacity;
        transition-duration: 1s;

        p {
            top: 50%;
            margin-top: 0;
        }
    }

    img#background {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 960px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
    }

    a.button-bg {
        /* Positioning */
        position: absolute;
        top: 50%;
        margin-top: -40px;

        /* Display & Box Model */
        display: inline-block;
        height: 100px;
        width: 100px;
        border-radius: 50px;

        /* Other */
        background: url('../images/clean_textile.png');  
        font-size: 30pt;
        text-align: center;
        line-height: 100px;
        box-shadow: 0px 0px 2px #333333;
        text-decoration: none;
        color: $classy_blue;

        &:hover {
            box-shadow: 0px 0px 5px #333333;
        }
        

        &:before,
        &:after {
            content: "";  
            display: block;  
            width: 94px;
            height: 94px;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 46px;
        }

        &:before {  
            border: 1px dashed $classy_blue;  
        }

        &:after {  
            border: 1px dashed rgba(255,255,255, .1);   
            margin-top: 1px;  
            margin-left: 1px;  
        } 

        &.previous { left: 0.5em; }
        &.next { right: 0.5em; }
    }
    


    .legende {

        margin: 0 auto 0 auto;
        width: 100%;
        position: absolute;
        bottom: 1em;
        text-align: center;
        
        .ribbon {
            display: inline-block;
            background: url('../images/clean_textile.png');
            text-align: center;
            box-shadow: 0px 0px 5px #333333;
            min-width: 360px;
            
            &:before,
            &:after {
               content: '';
               position: absolute;
               display: block;
               bottom: -10px;
               border: 30px solid $ribbon_bg;
               z-index: -1;
            }

            &:before {
               left: -28px;
               border-right-width: 25px;
               border-left-width: 20px;
               border-left-color: transparent;
               box-shadow: 2px 2px 2px rgba(43, 62, 66, 0.4);
            }
            &:after {
               right: -28px;
               border-left-width: 25px;
               border-right-width: 20px;
               border-right-color: transparent;
               box-shadow: -2px 2px 2px rgba(43, 62, 66, 0.4);;
            }

            .ribbon-content {
                &:before, 
                &:after {
                    border-color: #aaaaaa transparent transparent transparent;
                    position: absolute;
                    display: block;
                    border-style: solid;
                    bottom: -10px;
                    content: '';
                }
                &:before {
                    left: 0;
                    border-width: 10px 0 0 18px;
                }
                &:after {
                    right: 0;
                    border-width: 10px 18px 0 0;
                }
            }

            .stitched {
                padding: 0.5em 0 0.5em 0;
                &:before,
                &:after {
                    content: "";  
                    display: block;  
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    right: 3px;
                    bottom: 3px;
                }

                &:before {  
                    border-top: 1px dashed $classy_blue;  
                    border-bottom: 1px dashed $classy_blue;  
                }

                &:after {  
                    border-top: 1px dashed rgba(255,255,255, .1);   
                    border-bottom: 1px dashed rgba(255,255,255, .1);   
                    margin-top: 1px;  
                    margin-left: 1px;  
                } 
            }

            h1 {
                display: inline-block;
                margin: 0 0.67em 0 0.67em;
                font-size: 18pt;
                text-transform: uppercase;
                font-weight: bold;
            }

            p {
                margin: 0;
                text-transform: capitalize;
                font-size: 12pt;
                font-style: italic;
                line-height: 1.2em;
            }

            

            
        }

        a.reserver {
            /* Positioning */
            display:inline-block;
            /* Display & Box Model */
            border-radius: 4px;
            padding: 0.33em 0.67em 0.33em 0.67em;        
            margin: 0.67em auto 0 auto;
            /* Other */
            text-transform: uppercase;
            background: linear-gradient( to bottom, #ffffff 0%, #cccccc 100%);
            font-weight:bold;
            text-shadow:1px 1px 0px #ffffff;
            text-decoration: none;
            color: $classy_blue;
            box-shadow: 0px 0px 2px #333333;

            &:hover {
                box-shadow: 0px 0px 5px #333333
            }
        }
    }

}